html,
body {
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-container {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.boardTile {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardTile:hover {
  cursor: pointer;
  background-color: lightgray;
}
