html,
body {
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-container {
  border: 1px solid black;
  background-color: black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.boardTile {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: wheat;
}

.boardTile:hover {
  cursor: pointer;
  background-color: lightgray;
}

.is-inactive {
  display: none;
}
